@page "/inventory"
@* @using Contracts.GuildStash *@
@* @rendermode InteractiveServer *@
@* @inject StashRepository repo *@

<div class="my-component">
    This component is defined in the <strong>GuildStash.UI</strong> library.
</div>