@page "/numbers"
@using Contracts.GuildStash
@rendermode InteractiveServer
@inject StashRepository repo

<PageTitle>Numbers</PageTitle>

<h1>Numbers</h1>

<p role="status">Current Number: @_currentNum</p>

<button class="btn btn-primary" @onclick="Randomize">Randomize</button>

<button class="btn btn-primary" @onclick="Store">Store</button>

<p role="status">Stored Numbers: @Stored</p>



@code {
    private readonly Random _rng = new();
    private int _currentNum;

    private string Stored => string.Join("; ", repo.AllPersistantPoCs().Select(p => p.Name));


    private void Randomize()
    {
        _currentNum = _rng.Next(0, 1000);
    }

    private void Store()
    {
        repo.PersistPoC(_currentNum.ToString());
    }

}