@page "/weather"
@inject IConfiguration config

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<p>connection @Connection</p>

@code {

    private string Connection
    {
        get
        {
            string connectionString = config.GetConnectionString("SupabaseDbConnection") ?? "UH OH!";
            return connectionString.Split("assw").First();
        }
    }

}